<h1>Houses</h1>

<div class="container">
    <% @houses.each do | house | %>
    <div class="width-50">
        <a href="<%= conference_house_path(house.conference, house) %>">
            <div><%= image_tag(house.img_url, width: '500') %></div>
        </a>
    </div>
    <% end %>
</div>