<h1><%= @character.name %></h1>

<h3><%= link_to 'Edit Player', edit_conference_house_character_path(@conference, @house, @character) %></h3>

<div class="container">
    <%= image_tag(@character.pic_url, width: '400', height: '400') %>
    <h3 class="position">Position: <%= @character.position%></h3>
</div>

